{% extends 'base.html.twig' %}

{% block title %}Hello ImportController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        {% for service in services %}
        <li>
            {{ service.name }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}