{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
    #progress {
        width: 100%;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div id="messages"></div>
    <progress id="progress" max="120" value="0"> </progress>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const progress = document.getElementById("progress");
        const messages = document.getElementById('messages');

        async function importAll() {
            await fetch('/import/situations');
            progress.value += 10;
            await fetch('/import/services');
            progress.value += 10;
            await fetch(`/import/locations/warehouse`);
            progress.value += 10;
            await fetch(`/import/locations/office`);
            progress.value += 10;
            await fetch(`/import/locations/local`);
            progress.value += 10;
            await fetch(`/import/locations/residence`);
            progress.value += 10;
            await fetch(`/import/properties/warehouse`);
            progress.value += 10;
            await fetch(`/import/properties/office`);
            progress.value += 10;
            await fetch(`/import/properties/residence`);
            progress.value += 10;
            await fetch('/import/clean/properties');
            progress.value += 10;
            await fetch('/import/clean/locations');
            progress.value += 10;
            await fetch('/import/clean/situations');
            progress.value += 10;
            messages.innerHTML = "¡Completado!";
        }
        try {
            importAll();
        } catch (error) {
            console.error('Petó');
        }

        const eventSource = new EventSource("{{ mercure('import-status')|escape('js') }}");
        eventSource.onmessage = event => {
            const data = JSON.parse(event.data);
            console.log(data);
            messages.innerText = data.message;
        }

    })
</script>
{% endblock %}